html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: pokemon;
  src: url(/public/Pokemon\ Classic.ttf);
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: pokemon;
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hauteur minimum du conteneur */
}

main {
  flex: 1; /* Prend tout l'espace restant */
}

.spinner{
  height: 100px;
  width: 100px;
  animation-duration: 1s;
  animation-name: spinnerPokeball;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


@keyframes spinnerPokeball {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerLogo {
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
}

h2, h3{
  text-transform: uppercase;
  text-align: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffcd00;
  height: 200px;
  padding-bottom: 3rem;
  border-radius: 0 0 10% 10%;
  border-bottom: rgba(0, 0, 0, 0.649) 5px solid;
}

header ul{
  display: flex;
  gap: 3rem;
  font-size: 13px;
}

header a{
  color: black;
}

header a:hover{
  color: white;
}

header p {
  text-align: center;
  color: black;
  margin-top: 60px;
  font-size: 7px;
}

.burger {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  padding: 0;
  z-index: 10;
}

.burger .line {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}

.burger.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger.open .line:nth-child(2) {
  opacity: 0;
}

.burger.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.menu li {
  margin: 1rem;
}

.menu a {
  color: black;
  font-weight: bold;
  padding-right: 1rem;
  text-decoration: none;
}

.menu select {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background: #111;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    z-index: 1;
  }

  .menu.show {
    height: calc(47vh);
  }

  .menu li {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0.75rem;
  }

  .menu a, .menu select {
    color: white;
  }
  .menu select {
    background: #111;
    font-size: 24px;
  }


  .headerLogo {
    display: none;
  }

  header {
    height: 50px;
    padding-bottom: 0;
  }

  header ul {
    gap: 0;
  }
}

@media (max-width: 470px) {
  .burger {
    display: flex;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background: #111;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
  }

  .menu li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
  }

  .menu.show {
    height: calc(42vh);
  }

  .menu a {
    color: white;
  }

  .menu select {
    background: #111;
    font-size: 16px;
  }

  .stats {
    padding-left: 10px;
  }

}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}

article{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: rgb(255, 255, 255) solid 3px;
}

.stats{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  gap: 1rem;
}

.statsLeft{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}


.infoPokemon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}


.pokemonImage{
  height: 150px;
  width: 150px;
}


.typePokemon{
  display: flex;
  gap: 1rem;
}


.pokeForm{
  display: flex;
  flex-direction: column;
  gap:1rem ;
}


.pokeInput, .selectInput{
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.selectHeader {
  background-color: #ffcd00;
  border: transparent;
}

.selectHeader option {
  color: black;
}

.pokeInput2{
  margin-top: 1rem;
}

.Acier{
    color: #60A2B9
}

.Dragon{
  color: #4F60E2
}

.Électrik{
  color: #FAC100

}

.Feu{
  color: #E72324;

}

.Insecte{
  color: #92A212

}

.Plante{

  color: #3DA224

}

.Psy{

  color: #EF3F7A
}

.Sol{
  color: #92501B

}

.Ténèbres{

 color: #4F3F3D

}

.Combat{
  color: #FF8100

}


.Eau{
  color:#2481EF ;
}

.Fée{
color:#EF70EF ;

}

.Glace{
  color: #3DD9FF;

}

.Normal{
  color: #A0A2A0;

}

.Poison{
  color: #923FCC;

}

.Roche{
  color: #B0AA82;

}

.Spectre{
  color: #703F70;

}

.Vol{
  color: #82BAEF;

}

.finder{
  color: black;
}

.displayStats{
  display : none
}

.not-found-container {
  text-align: center;
  padding: 50px;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.not-found-title {
  font-size: 100px;
  margin: 0;
}

.not-found-message {
  font-size: 24px;
}

.home-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #654028;
  text-decoration: none;
  border-radius: 5px;
}

.home-link:hover {
  background-color: #BE9472;
}

.pieddepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffcd00;
  height: 50px;
  margin-top: 1rem;
  border-radius: 0 0 10% 10%;
  border-bottom: rgba(0, 0, 0, 0.649) 5px solid;
}

.pieddepage p {
  text-align: center;
  color: black;
  font-size: 7px;
}

.footerLogo {
  color: black;
}